.Login{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../img/castroBackgroun.jpg");
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 100px 80px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.4);
  background-color: rgba(0,0,0,0.1);
  
}

.logo {
  position: absolute;
  margin-top: -360px;
  margin-left: 105px;
  border-radius: 15px;
  width: 200px;
}


form label {
  position: relative;
  top: 10px;
  margin-bottom: 35px;
}

form label .fa-solid {
  font-size: 20px;
  color: black;
  margin-right: 10px;
}

form label input {
  outline: none;
  border: none;
  color: white;
  padding: 2px 5px;
  font-size: 18px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  height: 30px;
}

form label input::placeholder {
  color: rgba(0, 0, 0, 0.75);
}



form .link {
  color:black;
  margin-bottom: 3px;
  margin-top: 30px;
  transition: .6s;
}

form .link:hover {
  font-size: 17px;
}

form button {
  position: relative;
  top: 40px;
  color: #a0a0a0;
  border: none;
  background: black;
  padding: 12px 12px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
  transition: 1s;
}

form button:hover{
  color:white;
  font-size: 22px;
  box-shadow: inset 250px 0 0px 0px black,
  20px 20px 10px rgba(0,0,0,0.8);
}

#eye{
  position: absolute;
  margin-left: -30px;
  margin-top: 7px;
}

#eye:hover{
  cursor: pointer;
}

#googleButton{
  position: relative;
  top: 40px;
  transition: .8s;
}

#googleButton:hover{
  background-color: whitesmoke;
  animation: anim 3s infinite;
  border-radius: 20px;
  color: black;
  border-color: whitesmoke;
  cursor: pointer;
}

@keyframes anim {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0px 0 10px 8px white, 0 0 0px white, 0 0 0px white;
  }

  100% {
    box-shadow: none;
  }
}

