

.sales-container{
    width: 70%; 
    height: 600px; 
    margin: 0 auto;
    overflow-y: auto;
    padding: 30px;
}

.Titulo-container{
    padding: 5px;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Load-container{
    padding: 5px;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#Load {
    width: 150px; 
    margin: 10px;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #1B65B4;
    border-radius: 30px;
    color: #a0a0a0;
    transition: .4s;
}

#Load:hover{
    background-color: #008FD4;
    color: white;
    box-shadow: 14px 7px 8px rgba(0, 0, 0, 0.2);
}

.divGeneral{
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,106,198,1) 47%, rgba(9,9,121,1) 100%, rgba(150,167,227,1) 100%);
    height: 100vh;
}

#titleSales{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}