.Registro{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../img/castroBackgroun.jpg");
}



.logoRegister{
  position: absolute;
  margin-top: -550px;
  margin-left: 300px;
  border-radius: 15px;
  width: 230px;
}

.textInput{
  color: black;
}

#eye{
  margin-top: 15px;
}
